<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/style.css') }}">
    
    <title>Samir Khanal</title>
</head>
<body>
    <div class="main_div">
        <div class="left_content">
            <div class="top_bar">

            </div>
            <div class="buttons">

            </div>

            <div class="contents">
                {% block content %}
                Photo components

                {% endblock %}

            </div>
            
        </div>
    
        <div class="right_content">
    
        </div>
    </div>
    

    <script type="text/javascript" src="{{ url_for('static',    filename='js/home.js') }}"></script>
</body>
</html>